.slug-editor
  &__form-help
    color: inherit

  &__form-label
    color: inherit
    font: inherit
    font-size: 0.7em
    font-weight: bold
    letter-spacing: 0.1em
    opacity: 0.7
    text-transform: uppercase

  &__form-input
    border: 1px solid
    border-radius: 2px
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.2) inset
    box-sizing: border-box
    color: inherit
    display: block
    font: inherit
    padding: 0.5em 1vw
    width: 100%