.paginator
  text-align: center

  > button
    margin: 5px

  .paginator-page-selector
    display: inline-block
    margin-left: .25em
    margin-right: .25em

  .paginator-prev
    background: none

  .paginator-next
    background: none
